<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs" , {name:"home"}) %>
    

    <div class="row home-page text-center">

        <img src="images/IMG_2882(20230621-002417).JPG" alt="my pic" class="my-img img-fluid"/>

        <h1> This is Suet Lai Lily Wong </h1>
        <p>A girl own a fat cat</p>
    </div>
        

<%- include("./partials/footer.ejs") %>