<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs" , {name:"skills"}) %>
    

<div class="skills text-center">
    <h1> My Projects </h1>
  

    
    <div>
        <img src="images/IMG_2880(20230621-002413).JPG"  width="300" height="300" alt="my pic" class="my-img instagram" />
        <img src="images/IMG_2881(20230621-002415).JPG" width="200" height="200" alt="my pic" class="my-img img-fluid" />
        <img src="images/IMG_2883(20230621-002851).JPG" width="400" height="400" alt="my pic" class="my-img img-fluid" />
    </div> 
    <h2>I can do..</h2>
    <button type="button" class="btn btn-primary">HTML</button>
    <button type="button" class="btn btn-secondary">CSS</button>
    <button type="button" class="btn btn-success">Javascript</button>
    <button type="button" class="btn btn-warning">c#</button>
    <button type="button" class="btn btn-danger">Java</button>
    <button type="button" class="btn btn-info">ExpressJS</button>
    <button type="button" class="btn btn-light">Database</button>
  </div>
        

<%- include("./partials/footer.ejs") %>