<%- include("./partials/header.ejs") %>
<%- include("./partials/navbar.ejs" , {name:"services"}) %>
    
<h1>My Services</h1>

<div class="row">
  
  <div class="col-12 col-sm-6 col-md-4 mb-4">  
    <div class="service">
    <i class="fas fa-laptop-code"></i>
    <h2>Web Design</h2>
    <p>
      I can create simple web application.
    </p>
  </div>
</div>
<div class="col-12 col-sm-6 col-md-4 mb-4">
  <div class="service">
    <i class="fas fa-chart-line"></i>
    <h2>Development</h2>
    <p>
      I can create C#/Java application.
    </p>
  </div>
</div>
  <div class="col-12 col-sm-6 col-md-4 mb-4">
  <div class="service">
    <i class="fab fa-sketch"></i>
    <h2>Pet feed</h2>
    <p>
      I can feed any pets.
    </p>
  </div>
</div>

</div>
        

<%- include("./partials/footer.ejs") %>